/*通用样式*/
* {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #333
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    color: #ff3300;
}
ul, li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Normal", Arial;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;

}

/*当前位置：样式*/
.bread_nav {
    line-height: 42px;
    border-bottom: 2px solid #f30;

}
.container {
    max-width: 1200px;
    margin: 0px auto 0px auto;
}
.dqwz {
    line-height: 42px;
    border-bottom: 2px solid #ff3300;
    font-size: 14px;
}
.bread_nav li {
    float: left;
    font-size: 13px;
}





/*正文样式*/

/*1F*/
.content {
    width: 100%;
}
.pePipe-floor {
    max-width: 1200px;
    margin: 20px auto 0px auto;
}
.pePipe-floor > h2 {
    font-size: 18px;
    color: #ff0000;
    line-height: 24px;
    padding-bottom: 10px;
}
.pePipe-floor .peSubstance {
    border: 1px solid #c9c9c9;
    border-top-width: 2px;
}
.peSubstance .peClassify {
    float: left;
    padding: 10px 20px 0px 20px;
    max-width: 920px;
    box-sizing: border-box;
}
.peClassify .classifyTitle {
    border-bottom: 1px solid #e4e4e4;
}
.peClassify .classifyTitle > ul > li {
    float: left;
    font-size: 14px;
    color: #333;
    margin-right: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}
.peClassify .classifyTitle > ul > li.now {
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
}
.classify_list1 > li {
    float: left;
    width: 48%;
    padding: 18px 0px 18px 0px;
    border-bottom: 1px dashed #e4e4e4;
}
.classify_list1 > li:nth-child(7), 
.classify_list1 > li:nth-child(8) {
    border-bottom: none;
}
.classify_list1 > li:nth-child(odd) {
    margin-right: 20px;
}
.classify_list1 > li > h4 {
    font-size: 13px;
    color: #333;
    font-weight: bold;
    padding-bottom: 8px;
}
.classify_list2 > li {
    float: left;
    width: 22%;
    height: 24px;
    line-height: 24px;
}
.classify_list2 > li:last-child {
    float: left;
    width: 15%;
}
.classify_list2 > li:nth-child(5) {
    float: left;
    width: 10%;
}
.classify_list2 > li > a {
    font-size: 12px;
    color: #555555;
    display: inline-block;
    vertical-align: top;
}
.classify_list2 > li > a:hover {
    color: #ff3300;
}
.peRecommend {
    max-width: 278px;
    border-left: 1px solid #e4e4e4;
    box-sizing: border-box;
}
.peRecommend h3 {
    font-size: 16px;
    color: #333;
    font-weight: 700;
    line-height: 40px;
    padding-left: 13px;
}
.peRecommend .reProducts li {
    float: left;
    padding-bottom: 20px;
    padding-left: 13px;
}
.peRecommend .reProducts li a {
    display: inline-block;
    vertical-align: top;
}
.peRecommend .reProducts li a:hover {
    color: #f30;
}
.peRecommend .reProducts li img {
    width: 120px;
    height: 120px;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.peRecommend .reProducts li .title {
    font-size: 12px;
    color: #333;
    width: 98px;
    height: 18px;
    line-height: 18px;
    padding: 8px 0px 8px 22px;
    background: url(../image/homepage_05.png) left;
    background-repeat: no-repeat;
    background-size: 18px 18px ;
    overflow: hidden; /*自动隐藏文字*/
    /*text-overflow: ellipsis;文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}
.peRecommend .reProducts li .price {
    font-size: 14px;
    color: #ff0000;
}



/*2F*/

.peMaterial-lf {
    float: left;
    max-width: 210px;
    border-right: 1px solid #e4e4e4;
}
.peMaterial-lf .comRecommend {
    padding: 16px 20px 20px 20px;
}
.peMaterial-lf .comRecommend .com-title {
    font-size: 13px;
    color: #333;
    padding-bottom: 4px;
}
.peMaterial-lf .comRecommend li > a {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #666;
    line-height: 24px;
    height: 24px;
    width: 170px;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}
.peMaterial-lf .comRecommend li > a:hover {
    color: #ff3300;
}
.offer_list1 {
    height: 373px;
}
.offer_list {
    position: relative;
    box-shadow: none;
    background: #fff;
    /* border: 1px solid #eee; */
    padding: 10px 10px 10px 10px;
}
.tab_menu {
    width: 680px;
    float: left;
    position: absolute;
    z-index: 1;
    height: 33px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    margin-left: 10px;
}
.tab_menu li {
    float: left;
    width: 50px;
    height: 32px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    border-left: none;
}
.tab_menu .selected {
    cursor: pointer;
    border-top: 2px solid #f30;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #f30;
    font-weight: bold;
    background: #fff;
}
.tab_info {
    margin-top: 44px;
}
.related_company {
    position: relative;
    width: auto;
}
.related_company .name_title {
    font-size: 15px;
    line-height: 40px;
    font-weight: bold;
    color: #333333;
}
.related_company .list {
    position: relative;
}
.offer_list .related_company .c_name {
    text-align: left;
    padding-left: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.related_company .list li {
    position: relative;
    text-align: center;
}
.related_company .c_name {
    width: 124px;
}
.offer_list .related_company .g_name {
    text-align: left;
}
.related_company .g_name {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.related_company .g_name {
    width: 150px;
}
.related_company .price {
    width: 100px;
}
.related_company .num {
    width: 106px;
}
.related_company .time {
    width: 90px;
}
.related_company .adress {
    width: 98px;
}
.related_company .com_list {
    position: relative;
    width: auto;
    font-size: 12px;
    line-height: 35px;
    color: #333333;
}
.com_list > .list:not(:last-child) {
    border-bottom-color: #eee;
}
.com_list > .list {
    border: 1px dashed transparent;
}

.com_list .list > a > li {
    color: #444;
}
.list > a > .price:not(:first-child) {
    color: #FF9933;
}
.related_company .type {
    width: 110px;
}
.related_company .type {
    width: 90px;
}
.related_company .type {
    width: 98px;
}
.com_list > .list {
    border: 1px dashed transparent;
}
.offer_list .related_company>.com_list>.list:hover {
    background: #ffe3d0;
    border: 1px solid #ff6633;
}
.peRecommend .reProducts li .name {
    font-size: 12px;
    color: #333;
    width: 120px;
    height: 37px;
    line-height: 18px;
}
.rawScreen {
    width: 335px;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 999;
}
.rawScreen > select {
    font-size: 12px;
    color: #999;
    /* line-height: 20px; */
    height: 20px;
    width: 72px;
}
.rawScreen > a {
    font-size: 12px;
    color: #999;
    text-decoration: underline;
}
.rawScreen > a:hover {
    color: #f30;
}