/*通用样式*/
* {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #333
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul, li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {

}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;

}