/*通用样式*/
* {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #333
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul, li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Normal", Arial;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;

}

/*正文样式*/
.content {
    width: 100%;
}
.pePipe-1f {
    max-width: 1200px;
    margin: 0 auto;
}
.pePipe-1f > h2 {
    font-size: 16px;
    color: #ff0000;
    line-height: 24px;
    padding-bottom: 10px;
}
.pePipe-1f .peSubstance {
    border: 1px solid #c9c9c9;
    border-top-width: 2px;
}
.peSubstance .peClassify {
    float: left;
    padding: 10px 10px ;
    max-width: 900px;
}
.peClassify .classifyTitle {
    border-bottom: 1px solid #e4e4e4;
}
.peClassify .classifyTitle > ul > li {
    float: left;
    font-size: 14px;
    color: #333;
    margin-right: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}
.peClassify .classifyTitle > ul > li.now {
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
}
.peClassify .hotClassify .classify_list1 > li {
    float: left;
    width: 48%;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px dashed #e4e4e4;
}
.peClassify .hotClassify .classify_list1 > li:nth-child(odd) {
    margin-right: 20px;
}
.peClassify .hotClassify .classify_list1 > li > h4 {
    font-size: 13px;
    color: #333;
    font-weight: bold;
    padding-bottom: 8px;
}
.peClassify .hotClassify .classify_list2 > li {
    float: left;
    width: 22%;
    height: 24px;
    line-height: 24px;
}
.peClassify .hotClassify .classify_list2 > li:last-child {
    float: left;
    width: 14%;
}
.peClassify .hotClassify .classify_list2 > li:nth-child(5) {
    float: left;
    width: 10%;
}
.peClassify .hotClassify .classify_list2 > li > a {
    font-size: 12px;
    color: #555555;
    display: inline-block;
}